<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Active Internship Posts</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<div class="center hero-unit">
 <h1>Want Hireable Interns?</h1>

  <h2>
    Get them right here, Post your intern opporunities for FREE !!
    <!--  <a href="http://naukri.com">Launching Soon</a> -->
    .....
  </h2>

  <%= link_to "Sign Up Now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<!-- <h1>Internships for You</h1> -->


<div class="row">
	<div class="center">
	<aside class="span8">
		<div class="span6">
		<%= form_tag("/search", :method => "get") do %>
		<%= text_field_tag(:q) %>
		<%= submit_tag("Search Internships",class: "btn btn-large btn-primary")%>
		<% end %>
		</div>
		<% if @results and not @results.empty? %>
  			<% @results.each do |result| %>  
    			<li id="<%= result.id %>">
                        <%= link_to gravatar_for(result.user), result.user %>
                        <span class="user">
                                <%= link_to result.user.name, result.user %>
                        </span>
                        <span class="content"><%= result.content %></span>
                        <span class="timestamp">
                                Posted <%= time_ago_in_words(result.created_at) %> ago.
                        </span>
                        <%= link_to "Apply Now", result.user %>
                	</li>

			<%end%>
		<%end%>

		<!-- <h1> Search Internships for You</h1> -->
	</aside>
	</div>
	<div class="span4">
	<h3>Recent Internships</h3>
	<div class = "some-container">
	<ol class="microposts">
		<% @search_results.each do |search_result| %>
		<li id="<%= search_result.id %>">
			<%= link_to gravatar_for(search_result.user), search_result.user %>
			<span class="user">
				<%= link_to search_result.user.name, search_result.user %>
			</span>
			<span class="content"><%= search_result.content %></span>
			<span class="timestamp">
				Posted <%= time_ago_in_words(search_result.created_at) %> ago.
			</span>
			<%= link_to "Apply Now", search_result.user %>
		</li>
		<% end %>
	</ol>
	</div>
	<%# will_paginate @search_results %>
	</div>
</div>

<!-- <%= link_to image_tag("naukri.jpeg", alt: "Naukri.com"), 'http://naukri.com' %> -->
<% end %>
